html {
	width: 100%;
	height: 100%;
}

#root {
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #111111 !important;
	color: #f2f2f2 !important;
}