.leftColumn {
	width: 100%;
	height: calc(100% - 3rem);
}

.wordList {
	width: 100%;
	margin-top: 1.5rem;
}

.mobileLeftColumnHolderHeader {
	width: 100%;
	display: flex;
	align-items: center;
}

.iconButtonIcon {
	color: rgba(242, 242, 242, 0.8);
}

.mobileExitNav {
	margin-right: 1rem;
}

.leftColumnContentDivider {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bottomItems {
	color: rgba(242, 242, 242, 0.8);
	text-decoration: underline;
	text-underline-offset: 2px;
	font-weight: 400;
	font-size: 0.8rem;
	cursor: pointer;
}