.searchBoxContainer {
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	display: flex;
	align-items: center;
	filter: opacity(0.6);
}

.searchBoxText {
	font-weight: 600;
	letter-spacing: 0.15rem;
	color: var(--muted-text);
	margin-left: 1rem;
}

.searchIcon {
	color: var(--muted-text);
}